body {
    margin: 40px;

}
.header {
    grid-area: header;

}
.sidebar {
    grid-area: sidebar;
}

.content {
    grid-area: content;
}

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 140px 130px 130px;
    grid-area:
    "..... header  header"
    "sidebar  content content"

}

.box {
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 20px;
    font-size: 25px;

}
.header {
    background-color: rgb(141, 138, 135);
}